* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #1d1e21;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kave-btn {
  position: relative;
  border: 1px solid rgba(0, 214, 252, 0.3);
  background: none;
  color: rgba(0, 214, 252, 0.3);
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1.8px;
  width: 200px;
  height: 70px;
  padding: 0;
  transition: all 0.25s ease;
  outline: none;
}

.kave-btn::before,
.kave-btn::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 1px;
  transition: all 0.25s ease;
  background: #00d6fc;
}

.kave-btn::before {
  top: 0;
  left: 10%;
  transform: translateY(-1px);
}

.kave-btn::after {
  bottom: 0;
  right: 10%;
  transform: translateY(1px);
}

.kave-btn:hover {
  box-shadow: 1px 1px 8px rgba(0, 214, 252, 0.3);
  color: #00d6fc;
  text-shadow: 0 0 8px rgba(0, 214, 252, 0.4);
}

.kave-btn:hover.kave-btn::before {
  left: 0;
  width: 20px;
}

.kave-btn:hover.kave-btn::after {
  right: 0;
  width: 20px;
}

.kave-line::after,
.kave-line::before {
  content: "";
  position: absolute;
  background: #00d6fc;
  transition: all 0.25s ease;
  width: 1px;
  height: 20px;
}

.kave-line::after {
  top: 30%;
  left: 0;
  transform: translateX(-1px);
}

.kave-line::before {
  bottom: 30%;
  right: 0;
  transform: translateX(1px);
}

.kave-btn:hover .kave-line::before {
  bottom: 0;
}

.kave-btn:hover .kave-line::after {
  top: 0;
}
